<div id="page-wrapper">
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/netError/index.js"></script>
    <style>
        .ss {
            padding: 30px;
        }
        table {
            width: 100%;
        }

        table,
        th,
        td {
            text-align: center;
            vertical-align: middle !important;
        }

        thead,
        .title {
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-weight: bold;
            background: #3b99d9;
            color: #fff;
            position: relative;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }

        tr {
            height: 36px;
            line-height: 36px;
            border-bottom: 1px solid #f1f1f1;
        }

        td,
        th {
            padding: 0 12px;
        }

        .ss a {
            margin-bottom: 20px;
        }

        p {
            padding: 0;
        }

        .date {
            background: #fff;
            overflow-y: auto;
        }


        .pagination {
            margin: 0 10px 0 0;
            float: right;
        }
    </style>
    <div class="header">
        <h3 class="page-header">
            接口错误信息展示
        </h3>
    </div>
    <div id="page-inner">
        <div class="row">
            <p class="title">类型介绍(method:请求类型，originalUrl:接口地址, status:接口状态码，t: 接口返回时间，（msg = false: 接口错误信息）)</p>
            <div id="dates" class='date'></div>
            <!-- 模态框（Modal） -->
            <ul class="pagination pagination-sm" id='pageUl'>
            </ul>
        </div>
    </div>
</div>