<div id="page-wrapper">
    <link rel="stylesheet" href="/plugAndir/index.css">
    <script src="/js/bootstrap-paginator.js"></script>
    <div class="header">
        <h3 class="page-header">
            安卓插件下载统计
        </h3>
    </div>
    <div id="page-inner">
        <br/>
        <div class="row">
            <div class="col-md-4">
                <label class="col-md-5">插件渠道</label>
                <select class="form-control col-md-7" id="plugChannel">
                </select>
            </div>
            <div class="col-md-4">
                <label class="col-md-5">插件名称</label>
                <select class="form-control col-md-7" id="plugName">
                </select>
            </div>
            <div class="col-md-4">
                <label class="col-md-5">插件版本</label>
                <select class="form-control col-md-7" id="plugVersion">
                </select>
            </div>
        </div>
        <br/>
        <div class="plugDownList">
            <table class="table table-bordered table-hover">
                <thead>
                <td>
                    渠道
                </td>
                <td>
                    插件名称
                </td>
                <td>
                    插件版本
                </td>
                <td>
                    下载数量
                </td>
                <td>
                    手机型号
                </td>
                <td>
                    手机版本号
                </td>
                <td>
                    网络类型
                </td>
                <td>
                    剩余内存
                </td>
                <td>
                    app版本
                </td>
                <td>
                    imei唯一标示
                </td>
                </thead>
                <tbody>
                </tbody>
            </table>
                <ul class="pagination pagination-sm" id='pageUl'>
                </ul>
                <div class="zwsj" style="display:none; text-align: center;">
                    暂无数据
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/plugAndir/plugDownList.js"></script>