.plug {
    overflow: hidden;
    position: relative;
    min-height: 500px;
}

.plug ul {
    width: 100%;
    overflow: hidden;
}

.plug ul .li {
    width: 200px;
    height: 230px;
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    margin: 0 10px 10px 16px;
    position: relative;
}

.plug ul li img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 20px auto;
}

.plug ul li span {
    display: block;
    width: 100%;
    line-height: 24px;
    text-align: center;
}

.plug ul li .s1 {
    font-size: 12px;
    color: #999;
}

.plug ul li .btn {
    width: 80px;
    height: 30px;
    border: 1px solid #0099e6;
    text-align: center;
    margin: 10px auto;
    display: block;
    line-height: 16px;
    background: #00aaff;
    color: #fff;
}

.plug ul li .btn a {
    color: #fff;
}

.plug ul li .btn a:hover {
    text-decoration: none;
}

.plug ul li .btn1 {
    margin-top: 100px;
}

.plug .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.plug .mask .center {
    width: 300px;
    height: 270px;
}

.plug .mask .posi {
    position: absolute;
    z-index: 12;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    border-radius: 3px;
}

.plug .mask .comfri {
    display: none;
    width: 300px;
    height: 160px;
}

.plug .mask .upload {
    display: none;
    width: 360px;
    max-height: 490px;
    height: 340px;
}

.plug .mask .uploadHeight {
    height: 100%;
}

.plug .mask .upload .d1 {
    display: none;
}

.plug .mask .center h3,
.plug .mask .comfri h3,
.plug .mask .upload h3 {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: bolder;
}

.plug .mask .center .box input {
    display: block;
    border: none;
    background: #ddd;
    color: #000;
    width: 200px;
    margin: 30px auto;
    overflow: hidden;
    line-height: 34px;
    padding-left: 10px;
    outline: none;
}

.plug .mask .center .box input::-webkit-input-placeholder {
    color: #999;
}

.plug .mask .center .box button,
.plug .mask .comfri .box button {
    width: 100px;
    margin: 0 auto;
}

.plug .mask .center .box button {
    margin-left: 32px;
}

.plug .mask .comfri .box button {
    margin: 40px 22px 0;
    display: inline-block;
}

.plug .mask .upload .box .button {
    border: none;
    padding: 7px 15px;
    width: 84px;
    margin-left: 48px;
}

.title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background: #337ab7;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #337ab7;
    position: relative;
}

.title .add {
    position: absolute;
    right: 16px;
    font-size: 12px;
    cursor: pointer;
}

.list .table,
th,
td {
    text-align: center;
    vertical-align: middle !important;
}

.list {
    background: #fff;
    padding: 10px;
}

.list>table {
    border: 1px solid #ddd !important;
}

.list table span {
    font-size: 12px;
}

.upload {
    height: 330px;
}

.upload .showFileName {
    width: 180px;
    margin: 0 auto 10px;
    overflow-x: auto;
    max-height: 30px;
}

.list .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    width: 180px;
    height: 30px;
    margin-right: 0;
    line-height: 30px;
    text-align: center;
}

.list .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.list .file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.plug ul .li .fa {
    font-size: 18px;
    position: absolute;
    right: 9px;
    top: 4px;
    cursor: pointer;
}

.upload .box {
    overflow: hidden;
    display: block;
}

.upload .box label span {
    float: left;
    display: block;
    margin-top: 8px;
    width: 84px;
}

.upload .box label .cancel {
    margin: 0 0 0 20px;
}

.upload .box label input {
    width: 180px;
}

.area,
.radio,
.submit {
    width: 280px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

dl {
    width: 30px;
    display: block;
    float: left;
    margin-right: 38px;
    margin-bottom: 0;
}

.isRadio {
    width: 180px;
    margin-top: 7px;
}

.area>textarea {
    display: block;
    overflow-y: auto;
    width: 180px;
    height: 60px;
    resize: none;
}

.submit {
    margin-top: 12px;
    overflow: hidden;
}

.radio span {
    display: block;
}

.radio span input[type=radio] {
    margin: 0 6px 0 0;
    position: initial;
}

.plugDownList table thead {
    background: #3b99d9;
    color: #fff;
}
.plugDownList table thead tr td {
    border: none;
}

.plugDownList table {
    background: #fff;
}

.pagination {
    float: right;
}

.plugSearch {
    margin: 20px 0;
    overflow: hidden;
    border: 1px #000 solid;
}

.row label {
    margin-top: 5px;
    max-width: 100px;
}

.row select {
    display: inline-block;
    max-width: 120px;
}