<style>
    .page-container {
        color: #fff;
        width: 1000px;
        margin: 0 auto;
    }

    .page-container h1 {
        font-weight: 100;
        font-size: 72px;
        vertical-align: bottom;
        padding-top: 50px;
    }

    .page-container .h_1 {
        padding-left: 200px;
        font-size: 44px;
        padding-top: 30px;
    }

    p {
        margin: 15px 0 0 50px;
    }

    a {
        color: #fff;
    }
    span {
        display: block;
        height: 30px;
        line-height: 30px;
    }
</style>
<div class="page-container">
    <h1>Welcome To</h1>
    <h1 class="h_1">Monitoring Platform </h1>
    <p>一个有点用的监控平台</p>
    <div style="margin: 0 auto;width:450px;">
        <span>( ( type ) => {</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; switch ( type ) => {</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case 'login':</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">登录</a></span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case 'register':</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">注册</a></span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case '使用文档':</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/docs">使用文档</a></span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;default:</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:alert('怎么可能，逗呢？？？')">无密码进入</a></span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</span>
        <span> } ) ( type )</span>
    </div>
</div>