.ss {
    padding: 30px;
}

table, th, td {
    text-align: center;
    vertical-align: middle !important;
}

.title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background: #337ab7;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #337ab7;
    position: relative;
}

.title .add {
    position: absolute;
    right: 16px;
    font-size: 12px;
    cursor: pointer;
}

.table {
    border: 1px solid #ddd !important;
    background: #fff;
}

.pagination {
    margin: 0;
    float: right;
}

.messageList {
    overflow: hidden;
    position: relative;
    min-height: 500px;
}

.messageList .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.messageList .mask .center {
    width: 300px;
    height: 240px;
    padding: 10px;
}

.messageList .mask .posi {
    position: absolute;
    z-index: 12;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 3px;
}

.messageList textarea {
    display: block;
    overflow-y: auto;
    width: 180px;
    height: 60px;
    resize: none;
}

.messageList div {
    display: block;
    overflow: hidden;
}

.messageList div span {
    float: left;
    display: block;
    width: 25%;
    text-align: right;
    font-weight: bold;
}

.messageList div dl {
    width: 200px;
    float: right;
}

.messageList div dl dd {
    float: left;
    margin-right: 10px;
}

.messageList div dl .form-control {
    width: 180px;
}

.messageList div button {
    margin-left: 50px;
}