<div id="page-wrapper">
    <link href="/userProfile/index.css" rel="stylesheet">
    <script src="/userProfile/index.js" ></script>
    <div class="header">
        <h3 class="page-header">
            Information
        </h3>
    </div>
    <div id="page-inner">
        <div class="page-iner">
            <div class="row">
                <div class="form-group">
                    <label class="control-label" for="user_name">Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" type="text" readonly="readonly" value="zhangchenze">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="user_name">Join time</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="time" type="text" readonly="readonly" value="2017-06-20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="user_name">Nick name</label>
                    <div class="col-sm-10" input-xlarge uneditable-input>
                        <input class="form-control" type="text" id="nickname" readonly="readonly" value="Sam Zhang">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>