

<script src="/login/login.js"></script>
<link href="/login/login.css" rel="stylesheet">
<div class="page-container">
    <h1>Login | <a href="/register" style="color:#fff">Register</a></h1>
    <div class="form">
        <input type="text" value="zhangsam" name="username" class="username" placeholder="Username">
        <input type="password" value="aa1111" name="password" class="password" placeholder="Password">
        <button type="submit" class='submit'>Sign me in</button>
        <div class="error"><span>+</span></div>
    </div>
</div>
