<div id="page-wrapper">
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/typeError/index.js"></script>
    <style>
        .ss {
            padding: 30px;
        }

        table,
        th,
        td {
            text-align: center;
            vertical-align: middle !important;
        }

        .title {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            background: #337ab7;
            color: #fff;
            border-radius: 2px;
            border: 1px solid #337ab7;
            position: relative;
        }

        .ss a {
            margin-bottom: 20px;
        }

        p {
            padding: 0;
        }

        .date {
            background: #fff;
            padding: 10px;
        }

        .date>table {
            border: 1px solid #ddd !important;
        }

        .pagination {
            margin: 0;
            float: right;
        }
    </style>
    <div class="header">
        <h3 class="page-header">
            页面报错详细信息展示
        </h3>
    </div>
    <div id="page-inner">
        <div class="row">
            <p class="title">类型介绍(type:错误类型，sMsg:错误信息，sUrl:错误页面url，sLine:错误代码行号，sColu:错误代码列号，eObj:错误信息详细描述)</p>
            <div id="date" class='date panel'>
                <table class="table table-bordered table-hover">
                </table>"
            </div>
            <ul class="pagination pagination-sm" id='pageUl'>
            </ul>
        </div>
    </div>
</div>