<div id="page-wrapper">
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/typeError/index.js"></script>
    <style>
         .ss {
            padding: 30px;
        }

        table, th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        thead,.title {
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-weight: bold;
            background: #3b99d9;
            color: #fff;
            position: relative;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
        tr {
            height: 36px;
            line-height: 36px;
            border-bottom: 1px solid #f1f1f1;
        }

        td,th {
            padding: 0 12px;
        }

        .ss a {
            margin-bottom: 20px;
        }

        p {
            padding: 0;
        }

        .date {
            background: #fff;
            overflow-y: auto;
        }


        .pagination {
            margin: 10px 10px 0 0;
            float: right;
        }
    </style>
    <div class="header">
        <h3 class="page-header" onclick="test1()">
            页面报错详细信息展示
        </h3>
    </div>
    <div id="page-inner">
        <div class="row">
            <p class="title">类型介绍(type:错误类型，sMsg:错误信息，sUrl:错误页面url，sLine:错误代码行号，sColu:错误代码列号，eObj:错误信息详细描述)</p>
            <div id="date" class='date'>
                <table class="table-hover">
                </table>"
            </div>
            <ul class="pagination pagination-sm" id='pageUl'>
            </ul>
        </div>
    </div>
</div>