<div id="page-wrapper">
    <link href="/messagePush/index.css" rel="stylesheet">
    <script src="/js/bootstrap-paginator.js"></script>
    <script src="/js/socket.js"></script>
    <div class="header">
        <h3 class="page-header">
            消息推送平台
        </h3>
    </div>
    <div id="page-inner">
        <p class="title">消息推送 <span class="add">增加消息</span></p>
        <div class="messageList">
            <table class="table table-bordered table-hover">
                <thead>
                    <td>
                        用户类型
                    </td>
                    <td>
                        创建时间
                    </td>
                    <td>
                        内容
                    </td>
                    <td>
                        平台
                    </td>
                    <td>
                        渠道
                    </td>
                    <!-- <td>
                        定时开关
                    </td>
                    <td>
                        定时推送时间
                    </td> -->
                    <td>
                        编辑
                        <!-- <span class="confi btn btn-info" style="margin:0 10px">启用</span><span class="confir btn btn-warning" >停用</span><span class="del btn btn-danger" style="margin:0 10px">删除</span> -->
                    </td>
                </thead>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="addMessage">
                <div class="mask">
                    <div class="center posi">
                        <form id="formdate">
                            <div>
                                <span>用户类型：</span>
                                <dl class="userType">
                                    <dd><input type="radio" checked name="userTypes" value="1" />&nbsp;全部</dd>
                                    <dd><input type="radio" name="userTypes" value="2" />&nbsp;部分</dd>
                                    <!--<dd><input type="radio" name="userTypes" value="3" />&nbsp;独立</dd>-->
                                </dl>
                            </div>
                            <div>
                                <span>内容：</span>
                                <dl><textarea name="content" minlength="3" required="required"></textarea></dl>
                            </div>
                            <div class="plant">
                                <span>平台：</span>
                                <dl>
                                    <dd><input type="checkbox" name="plant" value="1"/> PC</dd>
                                    <dd><input type="checkbox" name="plant" value="2"/> H5</dd>
                                    <dd><input type="checkbox" name="plant" value="3"/> ANDROID</dd>
                                    <dd><input type="checkbox" name="plant" value="4"/> IOS</dd>
                                </dl>
                            </div>
                            <div>
                                <span>渠道：</span>
                                <dl><input type="text" class="form-control" minlength="3" name="channl" placeholder="请输入渠道号" id="channl"/></dl>
                            </div>
                            <!-- <div>
                                <span>定时开关：</span>
                                <dl>
                                    <dd><input type="radio" checked  name="timeSwitch" value="1" /> 是</dd>
                                    <dd><input type="radio"  name="timeSwitch" value="0" /> 否</dd>
                                </dl>
                            </div>
                            <div>
                                <span>推送时间：</span>
                                <dl><input type="text" class="form-control" minlength="3" name="pushTime" placeholder="请输入定时推送时间" id="channl"/></dl>
                            </div> -->
                            <!--<input type="hidden" value="false" name="isEnable" />-->
                            <!--<input type="reset" name="reset" style="display:none" />-->
                            <div>
                                <a type="button" class="btn btn-success submit">确定</a>
                                <a class="cancel btn btn-warning">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="pagination pagination-sm" id='pageUl'>
                </ul>
                <div class="zwsj" style="display:none">
                    暂无数据
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/messagePush/index.js"></script>