
<div id="page-wrapper">
    <script src="/plugAndir/index.js"></script>
    <link href="/plugAndir/index.css" rel="stylesheet">
    <div class="header">
        <h3 class="page-header">
            App管理平台
        </h3>
    </div>
    <div id="page-inner">
        <div class="plug">
            <ul id="list">  
            </ul>
            <ul>
                <li class="li">
                    <div class="btn btn1">
                        新增app
                    </div>
                </li>
            </ul>
            <div class="mask">
                <div class="posi center">
                    <h3>新增app</h3>
                    <from class="box">
                        <input type="text" id="name" placeholder="请输入项目名称" />
                        <input type="text" id="version" placeholder="请输入版本号" />
                        <button type="button" class="btn btn-success" id='submit'>确定</button>
                        <button class="cancel btn btn-warning">取消</button>
                    </from>
                </div>
            </div>
        </div>
    </div>
</div>