<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.exit').on('click', function () {
                $.ajax({
                    url: '/plugin/api/layout',
                    type: 'POST',
                    data: '',
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            alert('退出成功');
                            window.location.href = '/login';
                        }
                    },
                    error: function (err) {
                        alert('暂无数据');
                    }
                });

            });

            if(!localStorage.getItem('data')){

                $.ajax({
                    url: '/plugin/api/userInfo',
                    type: 'get',
                    data: { },
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            var d = data.data;
                            $('.navbar-brand').html(d.username);
                            localStorage.setItem('data',JSON.stringify(data.data));
                        } else {
                            console.log(data.msg);
                        }
                    },
                    error: function (err) {
                        // alert('内部服务错误');
                    }
                });
            } else {
                var data = localStorage.getItem('data');
                data = JSON.parse(data);
                $('.navbar-brand').html(data.username);
            }
        })
        
    </script>
</head>

<body>
    {{#if data.isTrue}}
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)"></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/userProfile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li class='exit'><a href="javascript:;"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        {{#if data.indexTitle}}
                        <a href="/index" class="active-menu">
                                <span class="fa arrow"></span>
                        {{else}}
                            <a href="/index">
                        {{/if}}
                            <i class="fa fa-home"></i> Home 
                        </a>
                    </li>
                    <li>
                        {{#if data.vserTitle}}
                        <a href="/version" class="active-menu"><span class="fa arrow"></span>
                        {{else}}
                            <a href="/version">
                        {{/if}}
                        <i class="fa fa-dashboard"></i> Version</a>
                    </li>
                    <li>
                        {{#if data.typeTitle}}
                        <a href="/typeError" class="active-menu"><span class="fa arrow"></span>
                        {{else}}
                            <a href="/typeError">
                        {{/if}}
                        <i class="fa fa-desktop"></i> Type Error</a>
                    </li>

                    <li>
                        {{#if data.netTitle}}
                        <a href="/netError" class="active-menu"><span class="fa arrow"></span>
                        {{else}}
                            <a href="/netError">
                        {{/if}}
                        <i class="fa fa-sitemap"></i> Network Error</a>
                    </li>
                    <li>
                        {{#if data.plugTitle}}
                        <a href="/plugAndir" class="active-menu"><span class="fa arrow"></span>
                        {{else}}
                            <a href="/plugAndir">
                        {{/if}}
                        <i class="fa fa-android"></i>Plug-in For Android</a>
                    </li>
                    <li>
                        {{#if data.messagePushTitle}}
                        <a href="/messagePush" class="active-menu"><span class="fa arrow"></span>
                        {{else}}
                             <a href="/messagePush">
                        {{/if}}
                        <i class="fa fa-commenting-o"></i>Message Push</a>
                    </li>
                </ul>
            </div>
        </nav>
        {{/if}} {{{ body }}} {{#if data.isTrue}}
        <footer>
            Copyright ©2017-2017 <a href="javascript:alert('根本没有链接，就是玩你们的！！！')">Rockzc</a> 技术提供
        </footer>
        <script>
            $.ajax({
                url: '/plugin/api/isLogin',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (!data.success) {
                        window.location.href = '/login';
                    }
                }
            });
        </script>
    </div>
    {{/if}}

</body>

<script>
    function getvl(key) {
        var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
        var result = window.location.search.substr(1).match(reg);
        return result ? decodeURIComponent(result[2]) : null;
    };

    window._maq = window._maq || [];
    _maq.push(['_setAccount', 'xiaozhangceshi', 'h5']);

    (function() {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = ('https:' == document.location.protocol ? 'http://localhost:3002' : 'http://localhost:3002') + '/index.js';
        // ma.src = ('https:' == document.location.protocol ? 'http://10.152.16.9:3002' : 'http://10.152.16.9:3002') + '/goindex.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
    })();
</script>

</html>